.notification {
  .notice {
    display: none;
  }
  .alert {
    height: 50px;
    width: 94%;
    background-color: #ee827c;
    color: #fff;
    border: 1px solid #c9171e;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 3px;
    line-height: 50px;
    margin: 0 auto;
  }
}