.top-page{
  display: flex;
}

.posts-index{
  height: auto;
  width: 70%;
}
.new-posts{
  color: $white;
  background-color: $accent-color;
  font-weight: bold;
  @include main__content--title;
}

.new-posts-index{
  height: auto;
  width: 100%;
}

