.new-post-page{
  @include main-page;
}

.new-post{
  width: 70%;
  &__heading{
    background-color: $accent-color;
    color: $white;
    line-height: 50px;
    @include main__content--title;
  }
  .post-form{
    height: auto;
    width: 94%;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: $white;
    box-shadow: 2px 2px 4px $dark-gray;
  }
}

.new-image{
  min-height: auto;
  width: 100%;
  background-color: $light-grey;
  text-align: center;
  vertical-align: bottom;
  line-height: 0.5em;
  label{
    cursor: pointer;
    height: auto;
    max-width: 100%;
    display: block;
    .image-icon{
      height: 400px;
      width: 100%;
      line-height: 400px;
      display: inline-block;
    }
  }
}

.preview{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 710px;
  background-size: cover;
}

.new-image:hover {
  background: $main-color;
  color: $base-color1;
}

.new__title{
  height: 100px;
  @include new-post__space;
  &--headline{
    font-size: 20px;
    margin-right: 20px;
  }
  &--form{
    height: 50px;
    width:80%;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid $light-grey;
  }
}

.select-new{
  height: 50px;
  width: 100%;
  background-color: $white;
  &__category{
    height: 50px;
    @include new-post__space;
    &--headline{
      color: $dark-gray;
      margin-right: 40px;
    }
    &--box{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 7px 30px 7px 10px;
      line-height: 1.1em;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: 12px 10px;
      background-position: right 10px center;
      background-color: $white;
      border: 1px solid $light-grey;
      color: $dark-gray;
      width: 80%;
    }
  }
}

select::-ms-expand {
  display: none;
}

.new__tags{
  height: 50px;
  width: 100%;
  background-color: darkseagreen;
}

.new__money{
  height: 50px;
  @include new-post__space;
  &--headline{
    @include headline;
  }
  &--form{
    height: 30px;
    width: 80%;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid $light-grey;
  }
}

.new__address{
  height: 50px;
  width: 100%;
  @include new-post__space;
  &--headline{
    @include headline;
  }
  &--form{
    height: 30px;
    width: 80%;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid $light-grey;
  }
}

.new__text{
  height: 180px;
  @include new-post__space;
  &--headline{
    @include headline;
  }
  &--form{
    height: 150px;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $light-grey;
  }
}

.new__submit{
  margin: 20px 0 ;
  text-align: center;
  &--btn{
    @include submit;
  }
}

.new__submit--btn:hover {
  background: $accent-color;
}
