.place-page{
  @include main-page;
}

.place-list{
  width: 98%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  height: auto;
}

.area__list{
  display:flex;
 
  &--name{
    height: 100%;
    margin: 0 2px;
    padding: 5px;
    background-color: $main-color;
  }
}

.country__list{
  background-color: $base-color2;
}

.city__list{
  background-color: $white;
  &--name{
    border-bottom: solid 1px $light-grey;
  }
}