* {
  box-sizing: border-box;
}

html,body{
  padding:0;
  margin:0;
  height: 100%;
}

.wrapper{
 height: 100%;
}

.header{
  height: 60px;
  width: 100%;
  background-color: #f7f6f5;
  position: fixed;
  z-index:999999;
  &__contents{
    display: flex;
    justify-content: space-between;
  }
}

.site__top{
  display: flex;
  margin-left: 15%;
  &--title{
    font-size: 30px;
    line-height: 60px;
    padding-right: 30px;
  }
  &--catch-copy{
    font-size: 15px;
    line-height: 60px;
  }
}

.user-info{
  display: flex;
  margin-right: 15%;
  &__current{
    display:block;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: solid 1px $main-color;
  }
  &__status{
    display:block;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: solid 1px $accent-color;
  }
}

.user-info__mypage{
  display:block;
  margin-top: 10px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: $base-color2;
}

.content{
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
  top: 60px;
  background-color: $base-color2;
  overflow: scroll;
  .left-content{
    width: 10%;
    background-color: $base-color2;
    height: 100%;
  }
  .main{
    width: 75%;
    background-color: $base-color2;
    height: auto;
    &__contents{
      min-height: 100%;
      position: relative;
      top: 20px;
      bottom: 30px;
    }
  }
  .right-space{
    height: 100%;
    width: 15%;
    background-color: $base-color2;
  }
}

a{
  text-decoration: none;
  color: grey;
}