* {
  box-sizing: border-box;
}

.header{
  height: 60px;
  width: 100%;
  background-color: red;
  position:fixed;
  z-index:99999;
  &__contents{
    display: flex;
    justify-content: space-between;
  }
}

.site__top{
  display: flex;
  margin-left: 15%;
  &--title{
    font-size: 30px;
    line-height: 60px;
    padding-right: 30px;
  }
  &--catch-copy{
    font-size: 15px;
    line-height: 60px;
  }
}

.user-info{
  display: flex;
  margin-right: 15%;
  &__current{
    line-height: 60px;
    padding-right: 30px;
  }
  &__status{
    line-height: 60px;
  }
}

.content{
  display: flex;
  height: calc(100vh - 60px);
  .left-content{
    width: 10%;
    background-color: green;
    height: 100vh;
  }
  .main{
    width: 75%;
    background-color: greenyellow;
    position: relative;
    top: 60px;
    height: auto;
    &__contents{
      min-height: calc(100vh - 30px);
    }
  }
  .right-space{
    height: 100vh;
    width: 15%;
    background-color: coral;
  }
}

a{
  text-decoration: none;
  color: grey;
}