* {
  box-sizing: border-box;
}

.header{
  height: 60px;
  width: 100%;
  background-color: red;
  position:fixed;
  &__contents{
    display: flex;
    justify-content: space-between;
  }
}

.site__top{
  display: flex;
  margin-left: 15%;
  &--title{
    font-size: 30px;
    line-height: 60px;
    padding-right: 30px;
  }
  &--catch-copy{
    font-size: 15px;
    line-height: 90px;
  }
}

.user-info{
  display: flex;
  margin-right: 15%;
  &__current{
    line-height: 60px;
    padding-right: 30px;
  }
  &__status{
    line-height: 60px;
  }
}

.content{
  display: flex;
  .left-content{
    height: 100vh;
    width: 15%;
    background-color: green;
  }
  .main{
    height: 100vh;
    width: 85%;
    background-color: greenyellow;
  }
}

.footer{
  height: 30px;
  width: 100%;
  background-color: hotpink;
  .footer-copyright{
    font-size: 10px;
    line-height: 30px;
    text-align: center;
  }
}

a{
  text-decoration: none;
  color: grey;
}