.profile{
  height: 400px;
  width: 29%;
  box-shadow: 2px 2px 4px $dark-gray;
  background-color: $white;
  &__user{
    height: 100px;
    width: 100%;
    display: flex;
    &--image{
      margin-left: 10px;
      margin-top: 10px;
      display: inline-block;
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-color: yellowgreen;
    }
    &--status{
      height: 100%;
      width: calc(100% - 110px);
      .user-info__nickname{
        height: 100%;
        width: 100%;
        font-size: 25px;
        padding-left: 15px;
        padding-top: 20px;
      }
    }
  }
}

.show__image--user{
  position: absolute;
  top: -100%;
  bottom: -100%;;
  left: -100%;
  right: -100%;
  margin: auto;
}

.user-info__nickname a{
  color: black;
  transition: 0.3s;
  &:hover{
    color: $accent-color;
  }
}

.user-connection{
  height: 100px;
  width: 100%;
  background-color: $white;
  display: flex;
  &__list{
    height: 100%;
    width: 33%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    color: $dark-gray;
    a{
      color: $main-color;
      font-size: 20px;
    }
  }
}

.profile__biography{
  height: 120px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  color: $dark-gray;
}

.profile__post{
  display: block;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  border: dashed 1px $base-color2;
  border-radius: 20px;
  background-color: $base-color1;
  line-height: 40px;
  text-align: center;
}