.show-post-page{
  @include main-page;
}

.show-post{
  width: 70%;
  &--one{
    width: 94%;
    margin: 0 auto;
    box-shadow: 2px 2px 4px $dark-gray;
  }
}

.show__image{
  height: auto;
  width: 100%;
  background-color: $white;
  text-align: center;
  .show__image--show{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.show__titleandedit{
  display: flex;
  justify-content: space-between;
  background-color: $white;
}

.show__title{
  height: 70px;
  width: 60%;
  line-height: 70px;
  font-size: 25px;
  padding: 0 15px 0 15px;
  background-color: $white;
}

.edit-icon{
  padding: 10px 15px 0 0;
  cursor: pointer;
  color: $accent-color;
}

.show__time{
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: $dark-gray;
  background-color: $white;
  @include show__space;
}

.show__category{
  height: 50px;
  line-height: 50px;
  color: $dark-gray;
  @include show__space;
}

.show__money{
  height: 30px;
  line-height: 30px;
  color: $dark-gray;
  @include show__space;
}

.show__address{
  height: 30px;
  line-height: 30px;
  color: $dark-gray;
  @include show__space;
}

.show__text{
  height: auto;
  color: $dark-gray;
  padding: 20px 15px 30px 15px;
  background-color: $white;
}