%h2.new-posts 新着記事
.categories
  .category 観光スポット
  .post
    .post__image
    .post__info
      .post__info--user
        .userimage
        .user-status
          %p.username @aaa
          %p.nickname bbb
      .post__info--title アメリカ行った
      .post__info--status
        .post-category カテゴリ:観光スポット
        .post-erea 北米>アメリカ>シカゴ
      .post__info--tags