.new-post-page
  .new-post
    %h2.new-post__heading 新規投稿
    %form.post-form
      = form_with(model:@post, local:true) do |form|
        %input.new__image{type:"file", accept:"image/*"}
        %input.new__title{name:"title", placeholder:"タイトル", type:"string"}
        .select-new
          = form.collection_select(:category_id, @category, :id, :name, {prompt: "カテゴリを入力してください"}, {class: "select-new__category"})
          -#%select.select-new__erea{name:"erea"}
            -#%option{value:"エリアを選択してください"}エリアを選択してください
          -#%select.select-new__country{name:"country"}
            -#%option{value:"国を選択してください"}国を選択してください
          -#%select.select-new__city{name:"city"}
            -#%option{value:"都市を選択してください"}都市を選択してください
        -#%input.new__tags{name:"tags", type:"text"}
        %input.new__money{name:"money", type:"string"}
        %input.new__adress{name:"adress", type:"text"}
        %input.new__text{name:"text", type:"textarea"}
        %input.new__submit{name:"submit", type:"submit"}
  .profile
    .profile__user
      .profile__user--image
      .profile__user--status
        %p.user-info__username @aaa
        %p.user-info__nickname bbb
    %ul.user-connection
      %li.user-connection__list
        %p.user-connection__list--follow フォロー
      %li.user-connection__list
        %p.user-connection__list--followers フォロワー
      %li.user-connection__list
        %p.user-connection__list--favorite お気に入り
    .profile__biography

